body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content {
    max-width: 100%;
    margin: 0 auto;

}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}


h1, h2, h3 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}


/****layout***/
.left-side {
    display: none;
}

@media (min-width: 600px) {
    .left-side {
        display: block;
    }

    .timeline-wrapper .wrapper {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .left-side {
        flex: 0 0 300px;
    }

    .right-side {
        flex-grow: 1;
    }

    .left-side-wrapper {
        border-right: 10px solid #dfdfdf;
    }
}